#!/bin/sh

# Zero-downtime deploy with docker-compose up --scale

# Pay no attention to the CGI man behind the curtain
echo "Content-Type: text/plain"
echo

exec 2>&1
set -e -x

cd {{ barcode_topdir }}
docker-compose up --no-recreate -d --scale={{ barcode_docker_compose_service_name }}=2

interval=6
retries=10
# So this is embarrassing, but it appears that health is first up Prometheus-wise
# in the time interval before Traefik gets around to sending its first health probe.
# Work around this bug (in traefik and therefore in docker-ps-traefik) by retrying once.
needed_successes=2

successes=0
for wait in $(seq 1 $retries); do
    docker_ids="$(docker-ps-traefik -q --healthy -l traefik.frontend.rule=Host:{{ barcode_web_fqdn }})"
    case  "$(echo "$docker_ids" | wc -l)" in
        1) 
            successes=0
            sleep $interval ;;
        2)
            successes="$(expr $successes + 1)"
            if [ "$successes" = "$needed_successes" ]; then
                # Both `docker ps` and `docker-ps-traefik` sort by start
                # time, most recent first
                docker rm -f $(echo "$docker_ids" | tail -1)
                echo; echo "OK"
                exit 0
            fi
            sleep $interval ;;
        *)
            echo "Something went wrong - Surviving docker IDs: $docker_ids"
            docker-ps-traefik --healthy -l traefik.frontend.rule=Host:{{ barcode_web_fqdn }}
            exit 2 ;;
    esac
done

echo "Timed out waiting for {{ barcode_docker_compose_service_name }} to become healthy"
exit 3
