# -*- mode: docker-compose; -*-

version: "3.3"

networks:
  {{ traefik_frontend_network_name }}:
    external: true
  {{ barcode_internal_network_name }}:
    external: true

services:
  # Containers {{ mongodb_hostname }} and traefik are managed separately
  # (see https://gitlab.epfl.ch/vpsi/barcode-catalyse.ops)

  {{ barcode_docker_compose_service_name }}:
    image: "{{ barcode_app_image }}"
    labels:
      - traefik.enable=true
      # https://doc.traefik.io/traefik/v2.0/routing/providers/docker/#services
      # https://doc.traefik.io/traefik/reference/dynamic-configuration/docker/
      - "traefik.docker.network={{ traefik_frontend_network_name }}"
      - "{{ barcode_traefik_router_label_prefix }}.rule=Host(`{{ barcode_web_fqdn }}`)"
      - "{{ barcode_traefik_service_label_prefix }}.loadbalancer.server.port=80"
      - "{{ barcode_traefik_service_label_prefix }}.loadbalancer.healthcheck.hostname={{ barcode_web_fqdn }}"
      - "{{ barcode_traefik_service_label_prefix }}.loadbalancer.healthcheck.path=/"
      - "{{ barcode_traefik_service_label_prefix }}.loadbalancer.healthcheck.followredirects=false"
    networks:
      - {{ traefik_frontend_network_name }}
      - {{ barcode_internal_network_name }}
    volumes:
      - ./barcode-data:/srv/barcode/barcode-data:ro
    environment:
      - MONGO_URL=mongodb://{{ mongodb_hostname }}/meteor
      - ROOT_URL=https://{{ barcode_web_fqdn }}
      - PORT=80
    restart: always
