#!/bin/sh

set -e

usage() {
    fatal <<'USAGE'
Usage:
   {{ cd_cdctl_script | basename }} <globalcmd> [--k=v ...]
   {{ cd_cdctl_script | basename }} <app> <cmd> [--k=v ...]

USAGE
}

warn () {
    if [ -n "$1" ]; then
        echo "$@" >&2
    else
        cat >&2
    fi
}

http_get () {
    local success
    curl -N -s --unix-socket {{ cd_service_socket }} http://localhost/"$1" | \
        while read -r line; do
            echo "$line"
            case "$line" in
                OK) success=t ;;
                *) success=f ;;
            esac
        done
    case "$success" in
      t) exit 0 ;;
      f) exit 4 ;;
    esac
}

fatal () {
    warn "$@"
    exit 1
}

path=
args=
while [ -n "$1" ]; do
    case "$1" in
        --*=*)
            kv="$(echo "$1" | sed 's/^-*//')"
            case "$args" in
                   "") args="$kv" ;;
                   *)  args="&$kv" ;;
            esac ;;
        -*) usage ;;
        *)
            test -z "$args" || usage
            case "$path" in
                "") path="$1" ;;
                *)  path="$path/$1" ;;
            esac ;;
    esac
    shift
done

[ -n "$path" ] || usage
case "$args" in
    "") http_get "$path".cgi ;;
    *)  http_get "$path".cgi"?$args" ;;
esac
