concurrent = 1
check_interval = 0

[session_server]
  session_timeout = 1800

[[runners]]
  name = "docker:gitlab-ci-runner@{{ inventory_hostname }}"
  url = "{{ gitlab_url }}"
  token = "{{ gitlab_ci_token }}"
  executor = "docker"
  [runners.custom_build_dir]
  [runners.docker]
    tls_verify = false
    image = "{{ gitlab_runner_image_tag }}"
    pull_policy = "never"
    privileged = false
    disable_entrypoint_overwrite = false
    oom_kill_disable = false
    disable_cache = false
    volumes = [
            "/var/run/docker.sock:/var/run/docker.sock",
            "/var/run/cd-server.sock:/var/run/cd-server.sock",
            "/cache"
    ]
    shm_size = 0
  [runners.cache]
    [runners.cache.s3]
    [runners.cache.gcs]
